.sidebar__link {
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .sidebar__link > a {
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
  }
  
  .sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
  }

  .active_menu_link {
    background: rgba(62, 161, 117, 0.3);
    color: #3ea175;
  }
  
  .active_menu_link a {
    color: #3ea175 !important;
  }
  